{% if comments|length > 0 %}
    {% for comment in comments %}
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ comment.name }}
                <small>{{ comment.created|date('d.m.Y H:i') }}</small>
            </h4>
            {{ comment.text }}
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>У этой записи ещё нет комментариев, Вы будете первым!</p>
{% endif %}