<div class="blog-post">
    <br/>
    <p class="blog-post-meta">
        <span class="date">{% if post.created %}{{ post.created|date('d.m.Y') }}{% endif %}</span>
        <span class="tags_list">
            {% if post.tags %}
                {% for tags in post.tags %}
                    <a class="btn btn-xs btn-default" href="{{ path('blog_post_by_tag', { 'id': tags.id }) }}">{{ tags.name }}</a>
                {% endfor %}
            {% endif %}
        </span>
    </p>
    <div class="text">
        {% if post.content %}{{ post.content | raw }}{% endif %}
    </div>
</div>